body {
  background-image: url("https://www.hitachi-homeappliances.com/image/artofease/Web_Banner_AOE_AHST_pc.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-color: gray;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: right;
  width: 50vw;
}

.container-content {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin-bottom: 3rem;
}

p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.btn-start {
  background-color: #c00000;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.red-bar {
  height: 3rem;
  background-color: #a2201c;
  position: absolute;
  right: 0;
  width: 40%;
}

.highlight {
  color: #a2201c;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1300px) {
  .red-bar {
    width: 35%;
  }
}

@media screen and (max-width: 850px) {
  .red-bar {
    width: 30%;
  }

  .title {
    font-size: 2rem;
    width: 60vw;
  }
}

@media screen and (max-width: 650px) {
  .red-bar {
    width: 25%;
  }

  .container-content {
    max-width: 500px;
  }

  .title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .red-bar {
    width: 20%;
  }

  .title {
    font-size: 1.5rem;
  }

  .container-content {
    max-width: 400px;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1.2rem;
  }

  .container-content {
    max-width: 300px;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .large {
    display: none;
  }

  .small {
    display: block;
  }

  .mobile-menu-red-bar {
    height: 1rem;
    background-color: #a2201c;
    position: absolute;
    left: 0;
    width: 30%;
    top: 5rem;
  }

  .mobile-discover-your-inner {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .mobile-home-comfort {
    height: 1rem;
    position: absolute;
    right: 1.5rem;
    width: 60%;
    top: 2.46rem;
    font-size: 1.8rem;
    font-weight: bold;
    
  }

  .mobileMenu{
    visibility: visible!important;
  }

  .computerMenu{
    visibility: hidden;
  }

  .back-btn{
    display: none;
  }
}

/* Mobile Menu */
.header.small {
  display: none;
}

.header.large {
  display: flex;
}

/*Section 2 menu*/
.right-bar{
  height: 1rem;
  background-color: #a2201c;
  position: absolute;
  right: 0;
  width: 40%;
}

.left-bar{
  height: 1rem;
  background-color: #a2201c;
  position: absolute;
  left: 0;
  width: 40%;
}

.section-2-title{
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.7rem;
}

@media screen and (max-width: 1200px) {
  .right-bar{
    width: 30%;
  }

  .left-bar{
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .right-bar{
    width: 30%;
  }

  .left-bar{
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .right-bar{
    width: 25%;
  }

  .left-bar{
    width: 25%;
  }
}

@media screen and (max-width: 500px) {
  .right-bar{
    width: 20%;
  }

  .left-bar{
    width: 20%;
  }
}

@media screen and (max-width: 440px) {
  .right-bar{
    width: 20%;
  }

  .left-bar{
    display: none!important;
  }
}

.hideQuestionUI{
  display: none;
}

label:hover {
  background-color: #cab5b4;
  
}

.accordion-body {
  max-height: 200px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}